src/main/resources/ebay.wsdl

<definitions xmlns="http://schemas.xmlsoap.org/wsdl/"
             xmlns:tns="http://example.com/price"
             xmlns:xsd="http://www.w3.org/2001/XMLSchema"
             targetNamespace="http://example.com/price">
    <message name="PriceRequest">
        <part name="pricePercent" type="xsd:float"/>
    </message>
    <message name="PriceResponse">
        <part name="message" type="xsd:string"/>
    </message>

    <portType name="PricePortType">
        <operation name="increasePrice" parameterOrder="pricePercent">
            <input message="tns:PriceRequest"/>
            <output message="tns:PriceResponse"/>
        </operation>
        <operation name="decreasePrice" parameterOrder="pricePercent">
            <input message="tns:PriceRequest"/>
            <output message="tns:PriceResponse"/>
        </operation>
    </portType>

    <binding name="PriceBinding" type="tns:PricePortType">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <operation name="pricePercent">
            <soap:operation soapAction="http://example.com/price/increasePrice"/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="decreasePrice">
            <soap:operation soapAction="http://example.com/price/decreasePrice"/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
    </binding>

    <service name="PriceService">
        <port name="PricePort" binding="tns:PriceBinding">
            <soap:address location="http://localhost:8080/ws/price"/>
        </port>
    </service>
</definitions>